* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, Helvetica, Arial, sans-serif;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

h1 {
	padding: 0.5rem 0;
}

.article-list {
	list-style: none;
	padding: 1rem;
	border: 2px dashed black;
	width: fit-content;

	input {
		padding: 0.4rem 1rem;
		margin: 0.4rem;
		border: 1px dashed rgb(118, 118, 118);
		background-color: rgb(238, 238, 238);
		border-radius: 10px;
		font-size: 1.1rem;
	}

	button {
		font-size: 1.1rem;
		margin-inline-start: 1rem;
		padding: 0.4rem 1rem;
		border-radius: 10px;
		border: 1px solid rgb(81, 81, 155);
		background-color: rgb(255, 255, 255);
		color: rgb(81, 81, 155);
		&:hover {
			color: rgb(255, 255, 255);
			background-color: rgb(81, 81, 155);
		}
	}
}

.article-title {
	font-size: 1.4rem;
	padding: 0.2rem;

	/* &::marker {
		content: "👁️ ";
	} */
	button {
		margin-inline-start: 1rem;
		padding: 0.4rem 0.6rem 0.2rem 0.6rem;
		border-radius: 10px;
	}

	.update-button {
		border: 1px solid rgb(81, 155, 81);
		background-color: rgb(255, 255, 255);
		color: rgb(81, 155, 81);
		&:hover {
			color: rgb(255, 255, 255);
			background-color: rgb(81, 155, 81);
		}
	}

	.remove-button {
		border: 1px solid rgb(255, 81, 81);
		background-color: rgb(255, 255, 255);
		color: rgb(255, 81, 81);
		&:hover {
			color: rgb(255, 255, 255);
			background-color: rgb(255, 81, 81);
		}
	}
}

.add-article {
	padding: 1rem;
	* + * {
		margin: 1rem;
	}

	input,
	button {
		padding: 0.4rem 1rem;
		border: 2px dashed rgb(118, 118, 118);
		background-color: rgb(238, 238, 238);
		border-radius: 10px;
		font-size: 1.1rem;
	}
}
