* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, Helvetica, Arial, sans-serif;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

h1 {
	padding: 0.5rem 0;
}

.article-list {
	list-style: none;
	padding: 1rem;
	border: 2px dashed black;
	width: fit-content;
}

.article-title {
	font-size: 1.4rem;
	padding: 0.2rem;

	/* &::marker {
		content: "👁️ ";
	} */
}

.add-article {
	padding: 1rem;
	* + * {
		margin: 1rem;
	}

	input,
	button {
		padding: 0.4rem 1rem;
		border: 2px dashed rgb(118, 118, 118);
		background-color: rgb(238, 238, 238);
		border-radius: 10px;
		font-size: 1.1rem;
	}
}
